<!doctype html>
<html lang="en" ng-app="MealPlanner">
<head>
  <meta charset="utf-8">

  <title>Meal Planner</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <script src="static/js/angular.min.js"></script>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/ui-bootstrap.min.js"></script>
  <script src="static/js/ui-bootstrap-tpls.min.js"></script>
  <script src="static/js/angular-route.min.js"></script>
  <script src="static/js/Ctrl.js"></script>
</head>
<body>
<div class="container2">
 <style>
  body{
    background-image: url("static/images/recipe_bg.jpg");
  }

  .container2{
    border: solid;
    padding:5px;
    margin-top:70px;
    margin-left:25%;
    background-color:#ffd480;
    width:50%;
    height:100%;
  }

 h2{
   text-align:center;
 }

 #submit{
  text-align:center;
 }
</style>

  <!--<div id="container2" role="main">-->
    {% block main %}{% endblock %}
  </div>
  </body>
</html>
